<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<!-- 这里加上 name="foo" 会显示错误，原因未知 -->
	<session-factory>
		<!-- 1. 配置数据库信息 -->
		<!-- 方言(连接的数据库类型) -->


		<!-- 2. 其他配置 -->
		<!-- 显示生成的SQL语句 -->
		<property name="hibernate.show_sql">true</property>

		<!-- 3. 导入映射文件 -->
		<!-- <mapping resource="com/yyzzt/User.hbm.xml" /> -->
        <mapping resource="ZZTStudentModel.xml" />

	</session-factory>
</hibernate-configuration>